[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
lxml = "*"
"beautifulsoup4" = "*"
pyquery = "*"
pymysql = "*"
pymongo = "*"
redis = "*"
jupyter = "*"
jsonpath = "*"
requests = "*"
"pywin32" = "*"
pyopenssl = "*"
twisted = "*"
scrapy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
